################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MuziekBeheer/Views/Albums/AlreadyExisting.cshtml
