@model Album
@{
    ViewBag.Title = "AlreadyExisting";
}

<h2>Dit album bestaat al.</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.AlbumId)
        <text>wilt u dit album bekijken?</text>
        <input type="submit" name="submit" value="yes" class="btn btn-default" />
        <input type="submit" name="submit" value="no" class="btn btn-default" />
    </div>
}

